.toolsButton {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.tabs.writeNoteTabs {
  justify-content: space-around;
  width: 85%;
}

.writeNote {
  height: calc(100vh - 112px - 2rem);
}

.writeNote .writeNoteComponents {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 1rem;
  height: 100%;
}

.writeNotesTools {
  height: 100%;
  z-index: 11;
}

.writeNotesTools.fixed {
  position: fixed;
  background-color: aliceblue;
  top: 7rem;
  width: calc(100vw - 128px);
  padding-top: 1rem;
}

.writeNotesTools .back-arrow {
  border-radius: 50%;
}

.tabDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.tabDiv .tabs {
  border-bottom: none;
  margin-bottom: 0;
}

.tabDiv .tabs .active {
  border-bottom: none;
  margin-bottom: 0;
}

.tabDiv .back-arrow {
  border-radius: 50%;
  padding: 0.5rem;
  color: white;
  background-color: #1abc9c;
  margin-bottom: 0.5rem;
}

.tabDiv .back-arrow:hover {
  background-color: #0e9076;
}

.noteDetail.active,
.aiChat.active {
  display: block;
}

.noteDetail.hidden,
.aiChat.hidden {
  display: none;
}

.noteDetails {
  background-color: #d2fffd;
  max-height: 100%;
  overflow-y: scroll;
  display: flex;
  max-width: 80vw;
  padding: 2rem 1rem;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.noteDetails .field {
  background-color: white;
  width: 100%;
}

.addNoteButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.postNoteForm {
  margin-top: 25px;
  display: grid;
  height: 70vh;
  overflow-y: scroll;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  background-color: aliceblue;
  padding: 0 1rem;
  row-gap: 25px;
  border-radius: 10px;
}

.newNoteForm {
  background-color: aliceblue;
  position: fixed;
  top: 7rem;
  left: 112px;
  backdrop-filter: blur(2px);
  height: 100%;
  border-radius: 10px 0 0 0;
  width: calc(100vw - 112px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.newNoteForm form {
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(128, 128, 128, 0.472);
  width: 90vw;
  max-width: 500px;
  z-index: 10;
  margin-bottom: 15%;
}

.file-input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.file-input {
  display: none;
}

.file-input-label.button {
  background-color: rgb(0, 183, 183);
  color: #fff;
  border-radius: 34px;
  cursor: pointer;
}

.file-input-label.button:hover {
  background-color: rgb(0, 135, 135);
}

.file-name-container {
  width: 100%;
  background-color: white;
  text-align: center;

  padding: 1rem;
  font-size: 0.8rem;
  color: rgb(74, 74, 74);
  border-radius: 10px;
}

.file-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button.post,
.button.yes-button {
  background-color: #1abc9c;
}

.button.delete {
  background-color: #e74c3c;
  color: #fff;
}

.button.delete:hover {
  background-color: #c0392b;
}

.button.post:hover,
.button.yes-button:hover {
  background-color: #0e9076;
}

.button.showDetails {
  display: block;
  margin: auto;
  background-color: #0e9076;
}

.pdfUploader {
  width: 325px;
}

@media (max-width: 1024px) {
  .writeNote .writeNoteComponents {
    grid-template-columns: 1fr;
  }

  .noteDetails {
    width: 450px;
  }

  .addNotes {
    grid-template-columns: 1fr;
    padding: 0;
    padding-bottom: 4rem;
    grid-template-rows: 90% auto;
  }

  .addNoteButtons {
    width: 80vw;
    max-width: 400px;
  }

  .postNoteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .pdfUploader {
    width: 400px;
    max-width: 80vw;
  }
}

@media (max-width: 640px) {
  .addNotesPage {
    height: 120%;
  }
  .writeNotesTools.fixed,
  .newNoteForm {
    top: 5rem;
    width: 100%;
  }

  .newNoteForm {
    left: 0;
  }
}
