.addNotesPage {
  height: 100%;
}

.addNotes {
  display: grid;
  grid-template-columns: 1fr 325px;
  padding: 2rem;
  gap: 10px;
  height: 100%;
}

.noteDetails.initiatePostNoteForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noteDetails {
  background-color: #d2fffd;
  max-height: 100%;
  overflow-y: scroll;
  display: flex;
  max-width: 80vw;
  padding: 2rem 1rem;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.noteDetails .field {
  background-color: white;
  width: 100%;
}

.addNoteButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.postNoteForm {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  background-color: aliceblue;
  padding: 0 1rem;
  border-radius: 10px;
}

.newNoteForm {
  background-color: aliceblue;
  position: absolute;
  top: -1rem;
  left: 0rem;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.newNoteForm form {
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(128, 128, 128, 0.472);
  width: 90vw;
  max-width: 500px;
  z-index: 10;
  margin-bottom: 15%;
}

.file-input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.file-input {
  display: none;
}

.file-input-label.button {
  background-color: rgb(0, 183, 183);
  color: #fff;
  border-radius: 34px;
  cursor: pointer;
}

.file-input-label.button:hover {
  background-color: rgb(0, 135, 135);
}

.file-name-container {
  width: 100%;
  background-color: white;
  text-align: center;

  padding: 1rem;
  font-size: 0.8rem;
  color: rgb(74, 74, 74);
  border-radius: 10px;
}

.file-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button.post,
.button.yes-button {
  background-color: #1abc9c;
}

.button.delete {
  background-color: #e74c3c;
  color: #fff;
}

.button.delete:hover {
  background-color: #c0392b;
}

.button.post:hover,
.button.yes-button:hover {
  background-color: #0e9076;
}

.button.showDetails {
  display: block;
  margin: auto;
  background-color: #0e9076;
}

.pdfUploader {
  width: 325px;
}

.confirmation-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  z-index: 10;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 2px 0 gray;
  border-radius: inherit;
}

.confirmation-popup .cancel-button {
  background-color: #f44336;
}

.confirmation-popup .cancel-button:hover {
  background-color: #be2115;
}

@media (max-width: 1200px) {
  .addNotesPage {
    height: 120%;
  }

  .noteDetails {
    width: 450px;
  }
  .addNotes {
    grid-template-columns: 1fr;
    padding: 0;
    padding-bottom: 4rem;
    grid-template-rows: 90% auto;
  }

  .addNoteButtons {
    width: 80vw;
    max-width: 400px;
  }

  .postNoteForm {
    padding: 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .pdfUploader {
    width: 400px;
    max-width: 80vw;
  }
}
