.chat-page {
  height: calc(100vh - 112px - 2rem);
  display: grid;
  grid-template-columns: 320px 1fr;
  justify-items: center;
  gap: 1rem;
}

.chat-sidebar {
  background-color: #d9edec;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  border-radius: 10px;
  width: 100%;
}

.friendSearchBarContainer {
  width: 100%;
  background-color: hsl(123, 100%, 96%);
  display: flex;
  padding: 0.25rem;
  border-radius: 34px;
  margin-bottom: 1rem;
  box-shadow: 0 0 1px gray;
}

.friendSearchBarContainer .searchBar,
.friendSearchBarContainer .searchIconContainer {
  background-color: transparent;
}

.chat-list {
  width: 100%;
}

.connection.userToChat {
  width: 100%;
}

.chat {
  height: calc(100vh - 112px - 2rem);
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
}

.chat-user {
  font-weight: 600;
  height: 10%;
}

.chat-user .connectionInfo {
  display: flex;
  align-items: center;
}

.chat-user .connectionPic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 16px;
}

.chat-messages {
  height: 80%;
  overflow-y: scroll;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.chat-message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.5rem;
  max-width: 60%;
}

.chat-message.sent {
  align-self: flex-end;
  border-radius: 0 0 0 0;
}

.chat-message.received {
  align-self: flex-start;
}

.message-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.chat-message.sent .message-content {
  background-color: #dcf8c6;
}

.message-content span {
  font-size: 0.7rem;
  color: gray;
}

.message-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.chat-input-container {
  height: 10%;
  display: flex;
  align-items: center;
}

.chat-input {
  align-items: flex-end;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
  resize: none;
  max-height: calc(100% - 20px);
}

.chat-send-button {
  padding: 10px 10px 10px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.chat-send-button:hover {
  background-color: #45a049;
}

.chat-messages::-webkit-scrollbar,
.chat-input::-webkit-scrollbar {
  display: none;
}

.connection.userToChat{
  transition: background-color 0.3s ease-in-out;
}

.connection.userToChat.selected,
.connection.userToChat:hover {
  background-color: rgb(129, 255, 255);
}

@media (max-width: 900px) {
  .chat-page {
    grid-template-columns: 1fr;
  }

  .chat-sidebar {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .chat-page {
    height: calc(100vh - 5rem - 6rem);
  }
  .chat {
    position: fixed;
    top: 80px;
    height: calc(100vh - 5rem - 3rem);
  }
  .chat-message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.5rem;
    max-width: 80%;
  }
}
