.connectionsDiv {
  width: 325px;
  height: 100%;
  border-radius: 10px;
  background-color: #d9edec;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.connectionsDiv:hover {
  overflow-y: scroll;
}

.profileFriendList .connectionList {
  display: grid;
}

.profileFriendList .connection {
  width: 100%;
}

.profileContent .connectionList {
  width: 80%;
  margin: auto;
}

.connection {
  display: flex;
  width: 290px;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  align-items: center;
  background-color: #c6fffc;
  border-radius: 10px;
  margin-bottom: 0.75rem;
}

.connectionInfo {
  width: 80%;
  display: flex;
  align-items: center;
}

.connectionPic {
  height: 2.5rem;
  margin-right: 10px;
}

.profileContent .connectionUsername {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
  max-width: 40vw;
  overflow: hidden;
}

.button.viewProfile {
  background-color: #03b4ab;
  font-size: 12px;
}

.button.viewProfile:hover {
  background-color: #00817b;
}

.profileContent .myNotes{
  display: block;
  height: auto;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .connectionList{
    width: 95%;
  }
}