.notificationsContainer.invisible{
  display: none;
}

.notificationsContainer.visible{
  display: block;
}

.notificationsContainer {
  position: fixed;
  top: 80px;
  max-height: 80vh;
  background-color: rgb(250, 252, 253);
  box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.459);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: justify;
  right: 2rem;
  width: 350px;
  transition: display 0.5s ease-in-out;
}

.header .notifications {
  overflow-y: scroll;
  max-height: 500px;
}
.notificationsContainer {
  padding: 20px;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}
