.navBar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 125px;
  display: flex;
  padding-top: 125px;
  justify-content: center;
  align-items: center;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: fit-content;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.navButton:hover {
  transform: scale(1.1);
  border-radius: 25%;
}

.navButton.active {
  transform: scale(1.1);
  border-radius: 25%;
}


.dashBoardIcon {
  background-color: #3498db;
}

.noteIcon {
  background-color: #9b59b6;
}

.addIcon {
  background-color: #1abc9c;
}

.friendsIcon {
  background-color: #2ecc71;
}

.chatIcon {
  background-color: #e67e22;
}
