


.myNote .lable,
.note .lable {
  color: #575757;
}

.note,
.myNote {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.updatedDate {
  font-size: 0.75rem;
  color: #888;
}

.goldenBookmark,
.addBookmark {
  justify-self: start;
}

.goldenBookmark {
  color: gold;
}

.addBookmark {
  color: gray;
}

.notesDisplay {
  height: 95%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-bottom: 0.5rem;
}

.notesDisplay::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}

.notesDisplay:hover::-webkit-scrollbar-thumb {
  background: #3dadf827;
}

.myNote p,
.note p {
  margin-bottom: 0.25rem;
}

.myNote .title,
.note .title {
  font-size: 1.25rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myNote .subject,
.note .subject {
  font-size: 1rem;
  font-weight: 500;
}

.noteButtons {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  gap: 2rem;
  align-items: center;
}

.noteButtons button.update {
  background-color: #3498db;
  color: #fff;
}

.noteButtons button.delete {
  background-color: #e74c3c;
  color: #fff;
}

.noteButtons button.view {
  background-color: #00cd30;
  color: #fff;
}

.resultInfo button:hover {
  opacity: 0.9;
}
.noteButtons button:hover {
  opacity: 0.9;
}

@media (max-width: 780px) {
  .notesDisplay {
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .note {
    width: inherit;
  }
  .noteList .notesDisplay:hover {
    overflow-y: hidden;
  }
}
