.notificationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notificationPage h1 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.notificationPage .notifications-container {
  background-color: rgb(250, 252, 253);
  border-radius: 8px;
  padding: 0.25rem;
  padding: 0 2rem;
  width: 600px;
  max-width: 90vw;
  padding-top: 1rem;
}

.header .notifications {
  padding: 16px;
  overflow: hidden;
}

.header .notifications:hover {
  overflow-y: scroll;
}

.tabs {
  display: flex;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

.tab {
  padding: 8px 16px;
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;
}

.tab:hover {
  color: #3498db;
}

.tab.active {
  color: #3498db;
  border-bottom: 1px solid #3498db;
}

.header .notification {
  width: 270px;
}

.notificationPage .notifications{
  height: 70vh;
  overflow-y: hidden;
}

.notificationPage .notifications:hover{
  overflow-y: scroll;
}

.notificationPage .notifications .notification{
  width: 525px;
  max-width: 100%;
}
.notification {
  padding: 16px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.message {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.notifications .username {
  font-weight: bold;
  font-size: 1rem;
}

.notification .message {
  margin-top: 8px;
}

.notifications .buttons {
  display: flex;
  margin-top: 8px;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
}

.button.reject {
  background-color: #e74c3c;
  color: white;
}

.button.reject:hover {
  background-color: #c0392b;
}

.button.accept {
  background-color: #2ecc71;
  color: white;
}

.button.accept:hover {
  background-color: #27ae60;
}
