.userInfoComponent {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 80vw;
  max-width: 600px;
}

.user-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.user-stats {
  display: flex;
}

.profile-pic {
  align-self: flex-start;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.logout {
  align-self: flex-end;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.fullname {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.user-stats {
  margin-top: 15px;
  gap: 10px;
}

.user-stats span {
  font-weight: 700;
  color: #3498db;
}
.notes,
.connections {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 5px;
}

.hrLine {
  width: 100%;
}

.user-info .edit.button {
  background-color: #2196f3;
}

.user-info .edit.button:hover {
  background-color: #0e81d2;
}

.user-info .logout.button {
  background-color: #f44336;
}

.user-info .logout.button:hover {
  background-color: #d32f2f;
}

.updatePasswordForm,
.updateUserForm {
  width: 80vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.updateForms {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.updateForms .field {
  width: 100%;
}

.updateForms [type="submit"] {
  align-self: flex-end;
}

@media (max-width: 640px) {
  .user-info {
    width: 90vw;
  }
  .updatePasswordForm,
  .updateUserForm {
    width: 90vw;
  }
}

@media (max-width: 450px) {
  .profile-pic {
    width: 60px;
    height: 60px;
  }
}
